<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="vue">
          <match url="(.*)" />
          <action type="Rewrite" url="Default.aspx" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <!--<add name="X-Application-Generator" value="Mango" />-->
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>